.icono {
    border: none;
    background-color: #ffcb85;
    border-radius: 50px;
    padding: 15px;
    width: 70px;
    height: 70px;
}

.icono:hover {
    transition: 100ms ease-in;
    transform: scale(1.2);
}

#redes {
    text-align: center;
    border-color: #e795b1;
}

#redes_titulo {
    font-size: 35px;
    font-family: sans-serif;
    color: black;
}

#pie_pagina {

    background-color: #6b3e26;
    color: white;
    font-size: 18px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}